<!DOCTYPE html>
<html lang="en">
   <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ropa Elegante</title>
        <link rel="stylesheet" href="../css/style.css">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
   </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
            <div class="container">
                <span class="navbar-brand">
                    <img src="../img/logo.png" class="logo" alt="Logo">
                </span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/galeria.html">Galeria</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/contacto.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

       <!-- Galeria -->
        <h1>Galería</h1>
        <!-- Agregamos las imágenes que sean necesarias -->
        <div class="gallery">
            <div class="gallery-item">
                <img src="../img/zapatillas.jpeg" alt="Ropa Elegante 1">
            </div>
            <div class="gallery-item">
                <img src="../img/pantalon1.jpeg" alt="Ropa Elegante 2">
            </div>
            <div class="gallery-item">
                <img src="../img/sandalias.jpeg" alt="Ropa Elegante 3">
            </div>
            <div class="gallery-item">
                <img src="../img/camisa.jpeg" alt="Ropa Elegante 4">
            </div>
            <div class="gallery-item">
                <img src="../img/vestido.jpeg" alt="Ropa Elegante 5">
            </div>
            <div class="gallery-item">
                <img src="../img/zapatos.jpeg" alt="Ropa Elegante 6">
            </div>
            <div class="gallery-item">
                <img src="../img/camiseta.jpeg" alt="Ropa Elegante 6">
            </div>
            <div class="gallery-item">
                <img src="../img/vestido1.jpeg" alt="Ropa Elegante 6">
            </div>
            <div class="gallery-item">
                <img src="../img/zapatillas1.jpeg" alt="Ropa Elegante 6">
            </div>
            <div class="gallery-item">
                <img src="../img/camiseta1.jpeg" alt="Ropa Elegante 6">
            </div>
            <div class="gallery-item">
                <img src="../img/vestido2.jpeg" alt="Ropa Elegante 6">
            </div>
            <div class="gallery-item">
                <img src="../img/pantalon2.jpeg" alt="Ropa Elegante 6">
            </div>
        </div>

        <!-- Footer -->
        <script src="../js/footer.js"></script>
        <script src="../js/navbar.js"></script>
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>


    
    
    
    
